In [1]:
# Import standard library modules
import sys

# Set the relative path to the project root directory
relative_path_to_root = "../../../"

# Add the project root to the system path for importing in-house modules
sys.path.append(relative_path_to_root)

# Import in-house modules from the 'utilities' package
from utilities import print_title, print_label
from utilities import save_data
from utilities import sp500_data_for_today

In [2]:
# Import libraries for data analysis and visualization
import pandas as pd
import yfinance as yf

In [3]:
data = sp500_data_for_today()

data

╔═══════════════════════════════════════════════════════════════╗
║            Download Report for S&P 500 `adj close`            ║
╠═══════════════════════════════════════════════════════════════╣
║ Total Requested Tickers:       |             501              ║
║ Total Downloaded Tickers:      |              2               ║
║ Requested Time:                |           15:59:00           ║
║ Downloaded Date:               |          2024-10-21          ║
║                       S&P 500 Data Downloaded Successfully... ║
╚═══════════════════════════════════════════════════════════════╝

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Datetime,,,,,,,,,,,,,,,,,,,,,
2024-10-21 15:59:00-04:00,136.820007,236.580002,186.600006,137.179993,117.029999,108.510002,376.200012,497.709991,225.610001,56.130001,...,290.540009,32.299999,98.370003,63.439999,120.080002,132.570007,134.039993,105.209999,372.390015,189.509995

In [6]:
data.columns.unique()

Index(['A', 'AAPL', 'ABBV', 'ABNB', 'ABT', 'ACGL', 'ACN', 'ADBE', 'ADI', 'ADM',
       ...
       'WTW', 'WY', 'WYNN', 'XEL', 'XOM', 'XYL', 'YUM', 'ZBH', 'ZBRA', 'ZTS'],
      dtype='object', name='Ticker', length=501)

### Data Collection
___

In [4]:
# Fetch S&P 500 tickers

#Get tickers from wikipedia
sp500_tickers = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]['Symbol'].to_numpy()

# Filter out Class B shares that have a '.B' in the ticker name
# Class B shares are typically held by company insiders and have different voting rights than Class A shares
sp500_tickers = [ticker for ticker in sp500_tickers if '.B' not in ticker]

# Total Tickers
print_title("`S&P_500` total tickers: " + str(len(sp500_tickers)))

╔═══════════════════════════════════════════════════════════════╗
║                 `S&P_500` total tickers: 501                  ║
╚═══════════════════════════════════════════════════════════════╝

In [5]:
store_array[1]["data"].index[store_array[1]["data"].index.time == pd.Timestamp("15:59:00").time()]

NameError: name 'store_array' is not defined

In [8]:
store_df = pd.DataFrame()

for ticker in sp500_tickers:
    try:
        ticker_name = ticker
        ticker = yf.Ticker(ticker)
        data = ticker.history(period="1d", interval="1m")
        data.sort_values(by='Datetime', ascending=False, inplace=True)
        data["Ticker"] = ticker_name

        three_fifty_nine_pm_mask = data.index.time == pd.Timestamp("15:59:00").time()
        data = data[three_fifty_nine_pm_mask]
        
        store_df = pd.concat([store_df, data])

    except Exception as e:
        print(f"Error fetching {ticker}: {e}")

In [ ]:
# Columns to drop from the dataframe
drop_columns = ['Open', 'High', 'Low', "Volume", "Dividends", "Stock Splits"]
store_df.drop(columns=drop_columns, inplace=True)

store_df

In [ ]:
store_df.sort_values(by=["Datetime", "Ticker"], inplace=True)
store_df[["Ticker", "Close"]]

In [ ]:
store_df.index.unique()
store_df.columns.unique()

In [ ]:
reshaped_df = store_df.copy()

reshaped_df.reset_index(inplace=True)

reshaped_df

In [ ]:
# Pivot the dataframe so that datetime is the index and tickers are the columns

# Assuming store_df is your DataFrame
reshaped_df = reshaped_df.pivot(index='Datetime', columns='Ticker', values='Close')

# Display the reshaped DataFrame
reshaped_df

In [ ]:
store_array[1]["data"].shape

In [ ]:
store_array[1]["data"].index.tz

In [ ]:
# Get 3:59:00 PM EST
# so 15:59:00

filter_date = store_array[1]["data"].index[store_array[1]["data"].index.time == pd.Timestamp("15:59:00").time()]

# store_array[1]["data"].sort_index()

store_array[1]["data"].loc[filter_date]