In [2]:
import pandas as pd

import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
# Import the data
file_path = ("https://project-2-rice.s3.us-east-2.amazonaws.com/sp500_adj_close_raw.csv")
# Read the CSV files into DataFrames.
df = pd.read_csv(file_path)
df.head()

,Date,Ticker,Adjusted Close,Return,Volatility,RSI,SMA_50,SMA_100,SMA_200,Upper Band,Lower Band,Support,Resistance,Action
0,2008-01-02,A,23.256384,-0.009918,0.015705,48.827618,23.314175,23.299887,23.564934,24.727250,22.540232,21.392035,24.351929,short
1,2008-01-02,AAPL,5.876342,0.000462,0.018937,59.067432,5.518483,4.939064,4.197630,6.135834,5.403559,4.637376,6.026839,buy
2,2008-01-02,ABT,18.130205,-0.006092,0.010484,34.677586,18.138458,17.628250,17.709028,19.233109,18.221804,16.775562,19.134010,short
3,2008-01-02,ACGL,7.608889,0.020444,0.016022,45.154190,7.785511,7.878933,7.874161,8.114465,7.378535,7.463333,8.307778,buy
4,2008-01-02,ACN,26.437078,-0.017194,0.024039,54.812183,26.577982,27.784420,28.471031,28.227205,24.273773,24.765505,29.215664,sell

In [8]:
how

AttributeError: 'DataFrame' object has no attribute 'unique'

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1979679 entries, 0 to 1979678
Data columns (total 14 columns):
 #   Column          Dtype
---  ------          -----
 0   Date            object
 1   Ticker          object
 2   Adjusted Close  float64
 3   Return          float64
 4   Volatility      float64
 5   RSI             float64
 6   SMA_50          float64
 7   SMA_100         float64
 8   SMA_200         float64
 9   Upper Band      float64
 10  Lower Band      float64
 11  Support         float64
 12  Resistance      float64
 13  Action          object
dtypes: float64(11), object(3)
memory usage: 211.5+ MB

In [4]:
# Drop rows with missing values
df = df.dropna()