In [29]:
# Import standard library modules
import sys

# Set the relative path to the project root directory
relative_path_to_root = "../../"

# Add the project root to the system path for importing in-house modules
sys.path.append(relative_path_to_root)

# Import in-house modules from the 'utilities' package
from utilities import calculate_bollinger_bands, calculate_rsi, calculate_daily_volatility
from utilities import print_title, print_label, print_footer
from utilities import generate_trading_signals
from utilities import fetch_and_download_sp500_data
from utilities import print_dataframe_report

In [30]:
# Import libraries for data analysis and visualization
import pandas as pd

# Import libraries for signal processing and peak detection
from scipy.signal import find_peaks

# Import libraries for plotting and visualization

# Import libraries for data storage and retrieval
from pathlib import Path

In [31]:
# Set display options for Pandas (optional, but often helpful)
pd.set_option('display.float_format', lambda x: '%.3f' % x) # Suppress scientific notation

### Data Collection
___

In [32]:
# Syntax: fetch_and_download_sp500_data(start_date="YYYY-MM-DD", end_date="YYYY-MM-DD")
# To add an end date, put end_date="YYYY-MM-DD"

data = fetch_and_download_sp500_data(start_date="2024-10-01")

[*********************100%***********************]  501 of 501 completed

╔═══════════════════════════════════════════════════════════════╗
║            Download Report for S&P 500 `adj close`            ║
╠═══════════════════════════════════════════════════════════════╣
║ Total Requested Tickers:       |             501              ║
║ Total Downloaded Tickers:      |             501              ║
║ Requested Date Range:          |   2024-10-01 to 2024-10-21   ║
║ Downloaded Date Range:         |   2024-10-01 to 2024-10-18   ║
║                       S&P 500 Data Downloaded Successfully... ║
╚═══════════════════════════════════════════════════════════════╝

In [33]:
print("Shape:", data.shape)
data.tail(15)

Shape: (14, 501)

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2024-10-01 00:00:00+00:00,146.560,226.210,195.400,125.470,113.027,113.510,350.553,502.800,223.670,59.520,...,300.580,33.700,99.450,65.320,119.930,134.390,139.240,107.340,364.300,194.420
2024-10-02 00:00:00+00:00,146.540,226.780,195.261,126.180,113.107,113.740,354.846,505.810,227.730,58.790,...,295.410,33.620,102.040,65.150,121.520,134.380,139.540,105.690,368.680,192.460
2024-10-03 00:00:00+00:00,144.550,225.670,193.902,125.290,111.704,112.850,359.776,503.800,226.560,58.470,...,290.590,32.930,103.080,64.400,122.580,133.060,137.210,104.190,363.890,190.990
2024-10-04 00:00:00+00:00,144.970,226.800,192.751,129.850,112.112,114.860,360.772,507.220,228.230,59.230,...,290.690,32.880,105.450,63.730,124.830,133.470,136.570,104.680,366.720,190.030
2024-10-07 00:00:00+00:00,143.890,221.690,192.076,130.230,112.828,107.790,355.354,487.300,226.510,58.860,...,287.990,32.850,106.410,63.010,125.370,134.030,135.880,102.280,365.240,187.280
2024-10-08 00:00:00+00:00,144.610,225.770,191.481,132.500,114.092,109.910,358.919,496.240,229.400,57.550,...,292.940,33.110,102.880,62.930,122.040,134.200,134.720,101.770,368.970,187.370
2024-10-09 00:00:00+00:00,144.800,229.540,193.207,135.490,115.406,113.090,363.600,494.080,233.240,56.970,...,298.050,33.060,104.150,62.580,122.090,136.290,134.760,103.460,373.500,190.170
2024-10-10 00:00:00+00:00,142.740,229.040,192.810,132.810,115.078,113.900,361.070,503.570,230.700,57.290,...,290.240,32.630,103.700,62.160,123.140,134.170,133.270,102.820,369.240,190.280
2024-10-11 00:00:00+00:00,143.820,227.550,192.652,134.400,115.575,114.400,360.740,495.420,232.860,57.970,...,290.030,33.030,104.750,62.310,123.610,136.860,134.020,103.500,375.020,190.080
2024-10-14 00:00:00+00:00,144.250,231.300,194.100,134.790,116.700,111.090,364.600,509.650,236.430,57.910,...,292.650,32.590,103.950,63.020,124.080,137.240,134.650,104.830,377.680,192.650
2024-10-15 00:00:00+00:00,144.580,233.850,191.860,133.270,116.050,108.060,368.660,508.030,225.870,57.670,...,291.140,33.050,99.220,63.430,120.350,136.680,133.220,104.600,375.300,192.390
2024-10-16 00:00:00+00:00,139.110,231.780,190.460,135.150,117.820,107.470,372.260,502.540,227.490,58.290,...,291.300,33.450,100.240,64.010,120.660,137.460,133.350,105.460,375.500,194.440
2024-10-17 00:00:00+00:00,137.420,232.150,188.570,136.020,117.890,108.250,375.150,496.830,227.340,58.630,...,291.140,32.800,97.990,63.250,120.350,135.160,133.730,104.950,373.840,191.000
2024-10-18 00:00:00+00:00,138.830,235.000,188.860,136.450,119.390,108.530,376.860,494.900,228.330,56.400,...,290.030,33.060,99.440,64.070,120.010,134.320,134.270,106.310,375.450,193.280

### Feature Engineering
___

In [34]:
upper_band, lower_band = calculate_bollinger_bands(data)

# Create a dictionary of feature dataframes
feature_dataframes = {
    # Returns and Volatility Calculations
    "returns": data.pct_change().copy(),
    "daily_volatility": data.apply(calculate_daily_volatility).copy(),

    # Technical Indicators
    "rsi": data.apply(calculate_rsi).copy(),
    "sma_50": data.rolling(window=50).mean().copy(),
    "sma_100": data.rolling(window=100).mean().copy(),
    "sma_200": data.rolling(window=200).mean().copy(),
    "upper_band": upper_band.copy(),
    "lower_band": lower_band.copy(),

    # Support and Resistance Levels
    "support": data.rolling(window=50).min().copy(),
    "resistance": data.rolling(window=50).max().copy(),

    # Trading Signals
    "actions": data.apply(generate_trading_signals).copy()
}

In [43]:
# Inspect DataFrames
select_df = "rsi"

inspect_df = feature_dataframes[select_df].copy()

print_dataframe_report(inspect_df, select_df)
inspect_df.head()

╔═══════════════════════════════════════════════════════════════╗
║                    `Rsi` DataFrame Report                     ║
╠═══════════════════════════════════════════════════════════════╣
║ Index Range:                   |   2024-10-01 to 2024-10-18   ║
║ `Rsi` Data Types:              |      [dtype('float64')]      ║
║ `Rsi` DF Shape:                |          (14, 501)           ║
║ Columns with null values:      |             501              ║
║ Rows with null values:         |              13              ║
║ Total Unique Values:           |             501              ║
╚═══════════════════════════════════════════════════════════════╝

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2024-10-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-02 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-03 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-04 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-07 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Data Preprocessing
___

In [49]:
# Align data lengths by filling forward and backward
clean_feature_dataframes = {}

for df_name, df in feature_dataframes.items():
    clean_feature_dataframes[df_name] = df.ffill().copy()
    clean_feature_dataframes[df_name] = df.bfill().copy()

In [50]:
# Inspect DataFrames
select_df = "lower_band"

inspect_df = clean_feature_dataframes[select_df]

print_dataframe_report(inspect_df, select_df)
inspect_df.head()

╔═══════════════════════════════════════════════════════════════╗
║                 `Lower_band` DataFrame Report                 ║
╠═══════════════════════════════════════════════════════════════╣
║ Index Range:                   |   2024-10-01 to 2024-10-18   ║
║ `Lower_band` Data Types:       |      [dtype('float64')]      ║
║ `Lower_band` DF Shape:         |          (14, 501)           ║
║ Columns with null values:      |             501              ║
║ Rows with null values:         |              14              ║
║ Total Unique Values:           |              0               ║
╚═══════════════════════════════════════════════════════════════╝

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2024-10-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-02 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-03 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-04 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-07 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Exploratory Data Analysis (EDA):
___

In [48]:
for name, df in clean_feature_dataframes.items():
    print_title(f"`{name}` DataFrame")
    # print_label()
    display(df.head())

╔═══════════════════════════════════════════════════════════════╗
║                      `returns` DataFrame                      ║
╚═══════════════════════════════════════════════════════════════╝

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2024-10-01 00:00:00+00:00,-0.000,0.003,-0.001,0.006,0.001,0.002,0.012,0.006,0.018,-0.012,...,-0.017,-0.002,0.026,-0.003,0.013,-0.000,0.002,-0.015,0.012,-0.010
2024-10-02 00:00:00+00:00,-0.000,0.003,-0.001,0.006,0.001,0.002,0.012,0.006,0.018,-0.012,...,-0.017,-0.002,0.026,-0.003,0.013,-0.000,0.002,-0.015,0.012,-0.010
2024-10-03 00:00:00+00:00,-0.014,-0.005,-0.007,-0.007,-0.012,-0.008,0.014,-0.004,-0.005,-0.005,...,-0.016,-0.021,0.010,-0.012,0.009,-0.010,-0.017,-0.014,-0.013,-0.008
2024-10-04 00:00:00+00:00,0.003,0.005,-0.006,0.036,0.004,0.018,0.003,0.007,0.007,0.013,...,0.000,-0.002,0.023,-0.010,0.018,0.003,-0.005,0.005,0.008,-0.005
2024-10-07 00:00:00+00:00,-0.007,-0.023,-0.003,0.003,0.006,-0.062,-0.015,-0.039,-0.008,-0.006,...,-0.009,-0.001,0.009,-0.011,0.004,0.004,-0.005,-0.023,-0.004,-0.014

╔═══════════════════════════════════════════════════════════════╗
║                 `daily_volatility` DataFrame                  ║
╚═══════════════════════════════════════════════════════════════╝

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2024-10-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-02 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-03 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-04 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-07 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

╔═══════════════════════════════════════════════════════════════╗
║                        `rsi` DataFrame                        ║
╚═══════════════════════════════════════════════════════════════╝

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2024-10-01 00:00:00+00:00,27.117,64.974,25.723,75.945,78.593,39.960,80.687,45.411,56.308,31.776,...,35.520,42.381,49.979,40.516,50.258,49.754,26.356,46.282,63.837,47.278
2024-10-02 00:00:00+00:00,27.117,64.974,25.723,75.945,78.593,39.960,80.687,45.411,56.308,31.776,...,35.520,42.381,49.979,40.516,50.258,49.754,26.356,46.282,63.837,47.278
2024-10-03 00:00:00+00:00,27.117,64.974,25.723,75.945,78.593,39.960,80.687,45.411,56.308,31.776,...,35.520,42.381,49.979,40.516,50.258,49.754,26.356,46.282,63.837,47.278
2024-10-04 00:00:00+00:00,27.117,64.974,25.723,75.945,78.593,39.960,80.687,45.411,56.308,31.776,...,35.520,42.381,49.979,40.516,50.258,49.754,26.356,46.282,63.837,47.278
2024-10-07 00:00:00+00:00,27.117,64.974,25.723,75.945,78.593,39.960,80.687,45.411,56.308,31.776,...,35.520,42.381,49.979,40.516,50.258,49.754,26.356,46.282,63.837,47.278

╔═══════════════════════════════════════════════════════════════╗
║                      `sma_50` DataFrame                       ║
╚═══════════════════════════════════════════════════════════════╝

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2024-10-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-02 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-03 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-04 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-07 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

╔═══════════════════════════════════════════════════════════════╗
║                      `sma_100` DataFrame                      ║
╚═══════════════════════════════════════════════════════════════╝

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2024-10-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-02 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-03 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-04 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-07 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

╔═══════════════════════════════════════════════════════════════╗
║                      `sma_200` DataFrame                      ║
╚═══════════════════════════════════════════════════════════════╝

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2024-10-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-02 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-03 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-04 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-07 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

╔═══════════════════════════════════════════════════════════════╗
║                    `upper_band` DataFrame                     ║
╚═══════════════════════════════════════════════════════════════╝

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2024-10-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-02 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-03 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-04 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-07 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

╔═══════════════════════════════════════════════════════════════╗
║                    `lower_band` DataFrame                     ║
╚═══════════════════════════════════════════════════════════════╝

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2024-10-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-02 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-03 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-04 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-07 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

╔═══════════════════════════════════════════════════════════════╗
║                      `support` DataFrame                      ║
╚═══════════════════════════════════════════════════════════════╝

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2024-10-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-02 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-03 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-04 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-07 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

╔═══════════════════════════════════════════════════════════════╗
║                    `resistance` DataFrame                     ║
╚═══════════════════════════════════════════════════════════════╝

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2024-10-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-02 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-03 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-04 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-07 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

╔═══════════════════════════════════════════════════════════════╗
║                      `actions` DataFrame                      ║
╚═══════════════════════════════════════════════════════════════╝

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2024-10-01 00:00:00+00:00,short,sell,short,sell,sell,sell,hold,sell,sell,short,...,short,short,hold,short,hold,short,sell,short,sell,short
2024-10-02 00:00:00+00:00,short,sell,short,sell,sell,sell,hold,sell,sell,short,...,short,short,hold,short,hold,short,sell,short,sell,short
2024-10-03 00:00:00+00:00,buy,buy,short,buy,buy,buy,hold,buy,buy,buy,...,buy,short,hold,short,hold,buy,short,buy,buy,short
2024-10-04 00:00:00+00:00,sell,sell,short,hold,hold,sell,sell,sell,sell,sell,...,sell,short,hold,short,hold,hold,short,sell,sell,short
2024-10-07 00:00:00+00:00,buy,buy,short,hold,hold,buy,buy,buy,buy,short,...,buy,buy,sell,short,sell,hold,short,short,buy,buy